.Container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
}
  .Swiper {
    width: 95%;
    height: 100%;
    background: transparent;
    border-radius: 20px;
    margin-left: 30px;
    overflow: hidden;
    align-content: center;
    padding-right:10px

  }
  
  .SwiperSlide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
  }
  
  .SwiperSlide-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border:none;
  }



