
.Container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
  .Swiper {
    width: 95%;
    height: 80%;
    background: transparent;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    overflow: hidden;
    align-content: center;
    

  }
  
  .SwiperSlide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .SwiperSlide-img{

    width: 100%;
    height: 100%;
    object-fit: contain;
    border:none;
  }


  .Gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap:1rem;

  }


.images{
  flex-basis: 20%;
  border-radius: 20px;
  padding: 2px;
  padding-bottom: 3px;
  margin: 3px;
  transition: transform 0.3s ease, filter 0.3s ease; 
  width: 300px;
  height:300px
  }
  
  .images:hover {
    transform: scale(1.05); /* Slight enlargement */
    filter: brightness(0.9); /* Slightly darkens the image */
  }  