
.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
  .swiper {
    width: 100%;
    height: 100%;
    background: transparent;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border:none;
  }
@media screen and (min-width: 760px){
  .Gallery {
    column-count: 3;

  }

    }

.images{
  border-radius: 20px;
  padding: 2;
  padding-bottom: 3px;
  margin: 3px;
  transition: transform 0.3s ease, filter 0.3s ease;   }
  
  .images:hover {
    transform: scale(1.05); /* Slight enlargement */
    filter: brightness(0.9); /* Slightly darkens the image */
  }  